on:
  pull_request:
    branches: ["master"]
  push:
    branches: ["master"]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: "24"
      - run: echo "//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}" >> .npmrc
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
      - run: npm ci
        working-directory: .
      - run: npm ci
        working-directory: storybook
      - run: npx playwright install --with-deps
        working-directory: storybook
      - run: npm run build-storybook
        working-directory: storybook
      - run: npm test
        working-directory: storybook
